

.nav_bar{
    padding: 5px;
    display: flex;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: bisque;
}



.nav{
 display: flex;
 flex-direction: row;
 gap: 40%;
 padding-left: 50%;
 justify-content: center;
 align-items: center;
}

.link{
    text-decoration: none;
}

